SettingInterface,
#scrollWidget {
    background-color: rgb(39, 39, 39);
}

QScrollArea {
    border: none;
    background-color: rgb(39, 39, 39);
}


/* ±Í«© */
QLabel#settingLabel {
    font: 33px 'Microsoft YaHei Light';
    background-color: transparent;
    color: white;
}